* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: #333;
  background-color: #f4f4f4;
}

h1 {
  font-weight: 300;
  font-size: 32px;
}

h2 {
  font-weight: 300;
  font-size: 27px;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none;
  color: inherit;
}

a {
  color: #f98f05;
  text-decoration: none;
}